@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato&family=Merienda:wght@700&family=Montserrat:wght@500&family=Poppins&display=swapdisplay=swap");

body {
    background-color: #78aac6;
}

.content-home {
    background-image: url(../img/imgs/home.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content-conquistas {
    background-image: url(../img/imgs/conquistas.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content-cadastro {
    background-image: url(../img/imgs/cadastro.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content-game {
    background-image: url(../img/imgs/game.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content-historico {
    background-image: url(../img/imgs/historicoEscolhas.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content-login {
    background-image: url(../img/imgs/login.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content-perfil {
    background-image: url(../img/imgs/meuPerfil.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content-sobre {
    background-image: url(../img/imgs/sobre.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content-info {
    background-image: url(../img/imgs/info.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.txtH1 {
    font-family: "Merienda", cursive;
}

.txtP {
    font-family: "Montserrat", sans-serif;
}

.txtMini {
    font-family: "Lato", sans-serif;
}

.botao {
    background: linear-gradient(100deg, #a8c0ff 2%, #ffc2e2 98%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-style: none;
}

.citacao {
    font-family: "Julius Sans One", sans-serif;
}

.form {
    border-radius: 0px 5px 5px 5px;
    border-style: none;
    width: 327px;
    height: 61px;
}

form img {
    width: 65px;
    height: 61px;
    margin-top: -4px;
}

.bordasP p {
    display: inline-block;
    padding: 2px 10px;
    border: white solid 2px;
    margin: 20px 200px 10px 0;
}

.formLogin {
    margin-top: 15vh;
}

.ajustaCol {
    margin: 20px 0 1vh 12vw;
}

.ajustaCada {
    margin-top: 20vh;
    margin-left: 0;
}

.moveB {
    margin-left: 6.5rem;
    margin-right: 6.5rem;
}